# Tennis analysis

### Introduction
Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal

Clearly state the question you will try to answer with your project

Identify and describe the dataset that will be used to answer the question

### Preliminary exploratory data analysis
Demonstrate that the dataset can be read from the web into R 

Clean and wrangle your data into a tidy format

**Using only training data**, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 

**Using only training data**, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [2]:

# loading libraries

library(repr)
library(tidyverse)
library(tidymodels)
library(RColorBrewer)
library(stringr)

set.seed(420)
options(repr.matrix.max.rows = 10)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [3]:
##choosen dataset:
tennis_stats_data <- read_csv("https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS")

##rename the columes name so that there is no spaces
colnames(tennis_stats_data) = make.names(colnames(tennis_stats_data))
tennis_stats_data

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    ...1 Age             Country            Plays        Wikipedia Current.Rank
1   0    26 (25-04-1993) Brazil             Right-handed Wikipedia 378 (97)
2   1    18 (22-12-2001) United Kingdom     Left-handed  Wikipedia 326 (119)
3   2    32 (03-11-1987) Slovakia           Right-handed Wikipedia 178 (280)
4   3    21 (29-05-1998) Korea, Republic of Right-handed Wikipedia 236 (199)
5   4    27 (21-10-1992) Australia          Right-handed Wikipedia 183 (273)
⋮   ⋮    ⋮               ⋮                  ⋮            ⋮         ⋮
496 495  20 (13-04-1999) France             Right-handed Wikipedia 382 (95)
497 496  26 (03-09-1993) Austria            Right-handed Wikipedia 5 (5890)
498 497  23 (14-03-1996) Netherlands        Left-handed  Wikipedia 495 (60)
499 498  24 (17-05-1995) Ukraine            NA           Wikipedia 419 (81)
500 499  22 (26-03-1997) Tunisia            Left-handed  Wikipedia 451 (69)
    Best.Rank        Name                 Backhand
1   363 (04-11-2019) Oscar Jose Gutierrez NA
2   316 (14-10-2019) Jack Draper          Two-handed
3   44 (14-01-2013)  Lukas Lacko          Two-handed
4   130 (10-04-2017) Duck Hee Lee         Two-handed
5   17 (11-01-2016)  Bernard Tomic        Two-handed
⋮   ⋮                ⋮                    ⋮
496 380 (11-11-2019) Dan Added            Two-handed
497 4 (06-11-2017)   Dominic Thiem        One-handed
498 342 (05-08-2019) Gijs Brouwer         NA
499 419 (20-01-2020) Vladyslav Orlov      NA
500 408 (24-12-2018) Aziz Dougaz          Two-handed
    Prize.Money                                  ⋯ Facebook        Twitter
1   NA                                           ⋯ NA              NA
2   $59,040                                      ⋯ NA              NA
3   US$3,261,567                                 ⋯ NA              NA
4   $374,093                                     ⋯ NA              NA
5   US$6,091,971                                 ⋯ NA              NA
⋮   ⋮                                            ⋱ ⋮               ⋮
496 $57,943                                      ⋯ NA              NA
497 $22,132,368 15th all-time leader in earnings ⋯ 1.Dominic.Thiem @ThiemDomi
498 NA                                           ⋯ NA              NA
499 NA                                           ⋯ NA              NA
500 $61,984                                      ⋯ NA              NA
    Nicknames Grand.Slams Davis.Cups Web.Site            Team.Cups Olympics
1   NA        NA          NA         NA                  NA        NA
2   NA        NA          NA         NA                  NA        NA
3   NA        NA          NA         NA                  NA        NA
4   NA        NA          NA         NA                  NA        NA
5   NA        NA          NA         NA                  NA        NA
⋮   ⋮         ⋮           ⋮          ⋮                   ⋮         ⋮
496 NA        NA          NA         NA                  NA        NA
497 Dominator NA          NA         dominicthiem.tennis NA        NA
498 NA        NA          NA         NA                  NA        NA
499 NA        NA          NA         NA                  NA        NA
500 NA        NA          NA         NA                  NA        NA
    Weeks.at.No..1 Tour.Finals
1   NA             NA
2   NA             NA
3   NA             NA
4   NA             NA
5   NA             NA
⋮   ⋮              ⋮
496 NA             NA
497 NA             NA
498 NA             NA
499 NA             NA
500 NA             NA

In [4]:
colnames(tennis_stats_data)

 [1] "...1"             "Age"              "Country"          "Plays"
 [5] "Wikipedia"        "Current.Rank"     "Best.Rank"        "Name"
 [9] "Backhand"         "Prize.Money"      "Height"           "Favorite.Surface"
[13] "Turned.Pro"       "Seasons"          "Active"           "Current.Elo.Rank"
[17] "Best.Elo.Rank"    "Peak.Elo.Rating"  "Last.Appearance"  "Titles"
[21] "GOAT.Rank"        "Best.Season"      "Retired"          "Masters"
[25] "Birthplace"       "Residence"        "Weight"           "Coach"
[29] "Facebook"         "Twitter"          "Nicknames"        "Grand.Slams"
[33] "Davis.Cups"       "Web.Site"         "Team.Cups"        "Olympics"
[37] "Weeks.at.No..1"   "Tour.Finals"

In [6]:

tennis_cleaned_data <- tennis_stats_data |>
                select(Prize.Money, Age, Country, Plays, Backhand, Height, Current.Elo.Rank, Best.Elo.Rank, Current.Rank)|>
                mutate(across(Prize.Money: Current.Rank, function(col) {str_extract(col, "^[^ ]+")}))|> #remove any special character and adjust the cellk
                mutate(Prize.Money = as.numeric(gsub("[^0-9.]+", "", Prize.Money)))|> #changing the prize money into number by removing special characters
                mutate(Age = as.numeric(Age))|>
                mutate(across(Height:Current.Rank, as.numeric))|>  # convert chr to dbl for the rest of the columes
                mutate(across(Country:Backhand, as.factor))

tennis_cleaned_data

    Prize.Money Age Country     Plays        Backhand   Height Current.Elo.Rank
1        NA     26  Brazil      Right-handed NA          NA     NA
2     59040     18  United      Left-handed  Two-handed  NA     NA
3   3261567     32  Slovakia    Right-handed Two-handed 185    144
4    374093     21  Korea,      Right-handed Two-handed  NA     NA
5   6091971     27  Australia   Right-handed Two-handed 193    100
⋮   ⋮           ⋮   ⋮           ⋮            ⋮          ⋮      ⋮
496    57943    20  France      Right-handed Two-handed  NA    NA
497 22132368    26  Austria     Right-handed One-handed 185     6
498       NA    23  Netherlands Left-handed  NA          NA    NA
499       NA    24  Ukraine     NA           NA          NA    NA
500    61984    22  Tunisia     Left-handed  Two-handed  NA    NA
    Best.Elo.Rank Current.Rank
1   NA            378
2   NA            326
3   60            178
4   NA            236
5   21            183
⋮   ⋮             ⋮
496 NA            382
497  5              5
498 NA            495
499 NA            419
500 NA            451

In [7]:
#splitting the data into traning set and testing set
tennis_split <- initial_split(tennis_cleaned_data, prop = 0.75, strata = Current.Rank)

tennis_train <- training(tennis_split)
tennis_test <- testing(tennis_split)


tennis_train

    Prize.Money Age Country     Plays        Backhand   Height Current.Elo.Rank
1      74927    20  Finland     Right-handed Two-handed  NA    NA
2         NA    23  Russian     Right-handed Two-handed  NA     5
3    1285541    20  Serbia      Right-handed Two-handed  NA    61
4    2722314    22  United      Right-handed Two-handed  NA    56
5   11912152    32  United      Right-handed Two-handed 198    31
⋮   ⋮           ⋮   ⋮           ⋮            ⋮          ⋮      ⋮
369 354975      32  India       Right-handed Two-handed NA     NA
370  57943      20  France      Right-handed Two-handed NA     NA
371     NA      23  Netherlands Left-handed  NA         NA     NA
372     NA      24  Ukraine     NA           NA         NA     NA
373  61984      22  Tunisia     Left-handed  Two-handed NA     NA
    Best.Elo.Rank Current.Rank
1   NA            104
2    4              4
3   60             54
4   29             34
5   18             45
⋮   ⋮             ⋮
369 NA            416
370 NA            382
371 NA            495
372 NA            419
373 NA            451

In [27]:
summary_num <-tennis_train |>
                select(where(is.numeric)) |>
                pivot_longer(everything(), names_to = "var", values_to = "val") |>
                filter(!is.na(val)) |>
                group_by(var) |>
                summarise(count = n(), mean = mean(val, na.rm = TRUE)) |>
                mutate(mean = round(mean, digits = 2), percentage_missing = (1- count/373)*100) 


observation_percentage_missing <- summary_num |>
                select(-count, -mean) |>
                mutate(percentage_missing = round(percentage_missing, digits = 2))

observation_percentage_missing 


mean_value <- summary_num |>
                select(-count, -percentage_missing)|>
                mutate(mean = round(mean, digits = 2)) |>
                pivot_wider(names_from = var, values_from = mean) |>
rename("Mean value of Age" = "Age",
         "Mean value of Best Elo Rank" = "Best.Elo.Rank",
         "Mean value of Current Elo Rank" = "Current.Elo.Rank",
         "Mean value of Current Rank" = "Current.Rank",
         "Mean value of Height" = "Height",
         "Mean value of Prize Money" = "Prize.Money")

mean_value



observation_factor <- tennis_train |>
                    select(where(is.factor)) |>
                    pivot_longer(everything(), names_to = "var", values_to = "val") |>
                    filter(is.na(val)) |>
                    group_by(var) |>
                    summarise(na_count = n()) |>
                    mutate(observation_count = 373 - na_count) |>
                    add_row(var = "Country", na_count = 0, observation_count = 373) #since there is no na in country, it is eliminated during the process

observation_factor

  var              percentage_missing
1 Age               0.00
2 Best.Elo.Rank    54.42
3 Current.Elo.Rank 63.27
4 Current.Rank      0.80
5 Height           76.68
6 Prize.Money      19.57

  Mean value of Age Mean value of Best Elo Rank Mean value of Current Elo Rank
1 25.89             76.37                       97.72
  Mean value of Current Rank Mean value of Height Mean value of Prize Money
1 249.01                     185.63               2316067

  var      na_count observation_count
1 Backhand 65       308
2 Plays    34       339
3 Country   0       373

### Methods
Explain how you will conduct either your data analysis and which variables/columns you will use.

<u> Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction? </u>

Describe at least one way that you will visualize the results

### Expected outcomes and significance:

What do you expect to find?

What impact could such findings have?

What future questions could this lead to?